.section-advantage {
  padding-top: 60px;
@media screen and (min-width:1200px) {
  padding-top: 94px; 
  }

}

.list--icon-advantage {
@extend %centeredFlex;

height:120px;



  text-align: center;
  background-color: var(--background-section-work);
  border-radius: 4px;
  margin-bottom: 30px;
  @media screen and (min-width:768px) {
    
    
  }
  @media screen and (min-width: 1200px) {
    height: 120px;
    
  }
}



.list-text {
  display: flex;
  flex-direction: column;
  gap: 30px;

@media screen and (min-width:768px) {
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
    
}
@media screen and (min-width: 1200px) {
  display: flex;
 
}

}

.list__list-advantage {

  @media screen and (min-width:768px) {
   width: calc((100% - 30px) / 2); }
      
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
 
 }
 
 .list__subtitle {
  margin-bottom: 10px;
  @include fonts(700, 14px);
  line-height: 1.14;
  letter-spacing: $let-sp;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width:768px) {
  text-align: left;
     }

}
.list__text {
@include fonts;
line-height: 1.71;
letter-spacing: $let-sp;
color: var(--color-grey);

}

