.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/Header-mob.jpg);
  @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Header-mob.2x.jpg);
  }
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; 
  max-width: 1600px; 
  margin: 0 auto; 
  @media screen and(min-widht:480px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Header-tab.jpg);
    @include retina{
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/Header-tab.2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/backgraund.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
@include retina {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/Header.2x.jpg);
  }
   }
  
  }

  
  
  .hero__main-title {
  margin: auto;
  margin-bottom: 30px;
  padding-right: 0;
  padding-left: 0;
  
  @include fonts(900, 26px);
  line-height:calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color:var(--white-color);

  @media screen and (min-width:768px) {
    max-width: 360px;
    
   }
   @media screen and (min-width: 1200px) {
    @include fonts(900, 44px);
    max-width: 696px;
    line-height:calc(60 / 44);
   }
  
}


    
  
  
  
  .hero__btn {
  display: block;
  padding: 10px 32px;
  min-width: 216px;
  height: 50px;
  margin: auto;
  font-family: $fontPrimary;
  font-style: normal;
  @include fonts(700, 16px);
  line-height: 1.87;
  letter-spacing: 0.06em;
  color:var(--white-color);
  background: var(--logo-link);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--cubic-bezier);
  &:hover,
  &:focus {
   background-color: #188CE8;
  }

  }
  