$fontPrimary: Roboto, sans-serif;
$fontLogo: Raleway, sans-serif; 
$let-sp: 0.03em;


:root {
  --text-color: #212121;
  --logo-color: #000000;
  --logo-link: #2196F3;
  --white-color:#FFFFFF;
  --color-grey: #757575;
  --padding-top:94px;
  --padding-bottom: 94px;
  --background-section-work:#F5F4FA;
  --content-border: #EEEEEE ;
  --cubic-bezier:cubic-bezier(0.4, 0, 0.2, 1) ;
}

